# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @gohm44

# Specific file types
*.rs    @gohm44
Cargo.* @gohm44

# Infrastructure files
.github/* @gohm44
